# dependencies
node_modules/
.pnp
.pnp.js

# production
.next/
out/

# env files (contains Firebase API keys)
.env.local
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
